* {
  margin: 0;
  padding: 0;
}

.headr {
  height: 100vh;
  background-image: url("./img/bg.jpg");
  background-size: cover;
}

.content {
  max-width: 1270px;
  margin: auto;
  padding-top: 51px;
  height: 100vh;
}

.logo {
  color: white;
  font-weight: 500;
  font-size: 23px;
}

.menu-nav-button {
  text-decoration: none;
  color: white;
  margin-left: 53px;
  font-weight: 600;
}

.menu-nav-button:hover {
  border-bottom: 1px solid white;
}

.menu {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-title {
  font-family: "Hammersmith One", sans-serif;
  color: white;
  font-size: 104px;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-bottom: 25px;
}

.button-center {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: black;
  background-color: white;
  width: 200px;
  text-align: center;
  padding: 23px 0 23px 0;
  margin: auto;
  margin-top: 43%;
  transition: 0.2s;
  font-weight: 600;
}

.button-center:hover {
  background-color: #1a1a1a;
  color: white;
}

.about {
  height: 100vh;
}

.link {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: black;
  width: 200px;
  text-align: center;
  padding: 23px 0 23px 0;
  margin: auto;
  transition: 0.2s;
  font-weight: 600;
}

.link:hover {
  background-color: #2e3538;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  margin-top: 20%;
}

.about-title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 55px;
}

.about-title-big {
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
  color: black;
  font-size: 72px;
  margin-bottom: 35px;
}

.projects {
  height: 100vh;
  background-color: black;
  padding-top: 40px;
  box-sizing: border-box;
  padding-top: 155px;
}

.projects-title {
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  font-size: 72px;
  color: white;
  text-align: center;
  margin-bottom: 85px;
}

.conten-projects {
  max-width: 1400px;
  margin: auto;
}

.bilding {
  display: flex;
  gap: 20px;
  text-align: center;
}

.bilding-item > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding-bottom: 15px;
}

.bild-item {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.link-projects {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: black;
  background-color: white;
  width: 200px;
  text-align: center;
  padding: 23px 0 23px 0;
  margin: auto;
  transition: 0.2s;
  font-weight: 600;
  margin-top: 45px;
}

.link-projects:hover {
  background-color: #1a1a1a;
  color: white;
}

.services {
  height: 100vh;
}

.services-container {
  display: flex;
  justify-content: space-between;
  padding-top: 300px;
}

.services-left {
  width: 400px;
  text-align: left;
}

.services-text {
  font-family: "Open Sans", sans-serif;
  padding-top: 25px;
}

.services-title {
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Hammersmith One", sans-serif;
}

.services-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 23px 58px;
  margin-top: 60px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}

.services-button:hover {
  background-color: #2e3538;
  color: white;
}

.services-right {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}

.servises-item {
  margin-bottom: 50px;
}

.item-number {
  font-size: 64px;
  font-family: "Hammersmith One", sans-serif;
  margin-right: 40px;
}

.careers {
  height: 100vh;
  display: flex;
}

.img {
  height: 100vh;
  width: 1000px;
  background-image: url("./img/photo.jpg");
}

.careers-text {
  width: 380px;
  margin-top: 400px;
  margin-left: 200px;
}

.carerrs-h1 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 72px;
}

.careers-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-top: 25px;
}

.link-careers {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 23px 58px;
  margin-top: 60px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}

.link-careers:hover {
  background-color: #2e3538;
  color: white;
}

.footer {
  height: 45vh;
  background-color: black;
  color: white;
}

.footer-text2 {
  padding-top: 250px;
  position: absolute;
  right: 25%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.footer-text1 {
  position: absolute;
  right: 25%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
}

.content2 {
  max-width: 1270px;
  margin: auto;
  height: 45vh;
}

.footer-stornoway {
  font-family: "Hammersmith One", sans-serif;
  font-size: 30px;
}

.footer-text {
  padding-top: 100px;
  display: flex;
  align-items: center;
}
